<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -The Way Free Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    

</head>
<body>
    <div class="container" style="position:relative; z-index:1040; padding-right:0px; margin-right:0px;">
        <nav class="navbar-default navbar-fixed-top" style="padding-bottom:10px;">
            <div class="container-fluid">
                <div class="navbar-header" style="height:50px;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/the_way_logo_no-background1.png" /></a>
                </div>
                <div class="navbar-collapse collapse" style="margin-top:10px;">
                    <ul class="nav navbar-nav" style="font-size:large; margin:0;">
                        <li>@Html.ActionLink("VMS Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Help", "Help", "Home")</li>
                        <li>@Html.ActionLink("Dashboard", "Index", "AdminDashboard")</li>
                    </ul>

                    <ul class="nav navbar-nav" style="font-size:large; margin:0; float:right; margin-right:20px;">
                        <li><div>@Html.Partial("_LoginPartial")</div></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    <div class="container body-content" style="padding-top:10px; width:100%;">

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2" style="min-height:100vh; background-color:#f8f8f8; padding-left:inherit;">
                <!-- Left column -->

                <div id="MainMenu" class="affix col-md-2" style="margin-top: 30px;">
                    <div class="list-group panel">

                        <a href="#viewList" class="list-group-item active strong" data-toggle="collapse" data-parent="#MainMenu">View <span class="caret" aria-hidden="true"></span></a>
                        <div class="collapse" id="viewList">
                            <a href="@Url.Action("Index", "AdminDashboard")" class="list-group-item"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Volunteers</a>
                            @*<a href="#" class="list-group-item"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Work Log Data</a>
                            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Schedules</a>*@
                            <a href="@Url.Action("IndexEmployer", "ManageJobs")" class="list-group-item"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Employers</a>
                            <a href="@Url.Action("ManageAdmins", "AdminDashboard")" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Administrators</a>
                            <a href="@Url.Action("IndexGroup", "ManageContracts")" class="list-group-item"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> PA Groups</a>
                        </div>

                        <a href="#createList" class="list-group-item active strong" data-toggle="collapse" data-parent="#MainMenu">Create <span class="caret" aria-hidden="true"></span></a>
                        <div class="collapse" id="createList">
                            <a href="@Url.Action("Create", "AdminDashboard")" class="list-group-item"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Volunteer</a>
                            <a href="@Url.Action("AddAdmin", "Account")" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> New Administrator</a>
                            <a href="@Url.Action("Report", "AdminDashboard")" class="list-group-item"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> New Hours Report</a>
                            <a href="@Url.Action("AvailabilityReport", "AdminDashboard")" class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> New Availability Report</a>

                        </div>

                        <a href="#updateList" class="list-group-item active strong" data-toggle="collapse" data-parent="#MainMenu">Update <span class="caret" aria-hidden="true"></span></a>
                        <div class="collapse" id="updateList">
                            <a href="@Url.Action("IndexEmployer", "ManageJobs")" class="list-group-item"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Employer Data</a>
                            <a href="@Url.Action("homeMessage", "Home")" class="list-group-item"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Home Page Messages</a>
                            <a href="@Url.Action("Index", "AdminDashboard")" class="list-group-item"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Work Log Data</a>
                        </div>

                        @*<a href="#test" class="list-group-item active strong" data-toggle="collapse" data-parent="#MainMenu">Test Menu <span class="caret" aria-hidden="true"></span></a>
                        <div class="collapse" id="test">
                            <a href="#" class="list-group-item">Subitem 1</a>
                            <a href="#SubSubMenuTest" class="list-group-item strong" data-toggle="collapse" data-parent="#SubSubMenuTest"><i class="glyphicon glyphicon-thumbs-up"></i> Subitem <i class="fa fa-caret-down"></i></a>
                            <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenuTest">
                                <a href="#" class="list-group-item" data-parent="#SubSubMenu1"><i class="glyphicon glyphicon-flag"></i> Sub sub item 1</a>
                                <a href="#" class="list-group-item" data-parent="#SubSubMenu1"><i class="glyphicon glyphicon-cog"></i> Sub sub item 2</a>
                            </div>
                            <a href="#" class="list-group-item">Subitem 3</a>
                        </div>*@

                       

                    </div>
                </div>
                
            </div>

            <div class="col-md-10" style="margin-left:0px; padding-left:0px;">
                @RenderBody()
            </div>

        </div>


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RebelScrum</p>
        </footer>
    </div>

    <script>

        @*$(document).ready(function () {

            switch ("@ViewBag.viewName") {
                case "index":
                    document.getElementById('test1').className = "show";
                    document.getElementById('addMessage').className = "show";
                    break;
                case "create":
                    document.getElementById('test2').className = "show";
                    break;
            }
        });*@

    </script>


    @RenderSection("scripts", required: false)

</body>

</html>
