@model TheWayFreeClinicVMS.Models.Worktime

@{
    ViewBag.Title = "Volunteer Management System";
}

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <input type="text" name="email" />
                @*@Html.LabelFor(model => model.Volunteer.volEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Volunteer.volEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Volunteer.volEmail, "", new { @class = "text-danger" })
                </div>*@
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.wrkID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.wrkID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.wrkID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.volID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.volID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.volID , "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.wrkStartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.wrkStartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.wrkStartTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.wrkEndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.wrkEndTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.wrkEndTime, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Clock In/Out" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

</div>


<div class="row">
    <div class="col-md-4">
        <p>
            Please contact The Way Free Clinic personnel if you wish to volunteer.
        </p>
        <p><a href="@Url.Action("Contact", "Home")" class="btn btn-success"> Contact Us</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work log your volunteered time</h2>
        <p>Simply type your Email and Password and click Clock In button to record your hours. </p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301866">Clock In</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Account</h2>
        <p>Simply follow the link below to log into the system and access your personnal information.</p>
        <p><a href="@Url.Action("Index", "VolunteerProfile")" class="btn btn-success"> My Account</a></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}