@model TheWayFreeClinicVMS.Models.Volunteer

@{
    ViewBag.Title = "Create";
}

                   
@*<script>
    function showDiv() {
        document.getElementById('addSpec').style.display = "block";
    }
</script>*@

<div class="container-fluid">
    <h2>Create New Volunteer</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.volActive)
            <div class="row">
             
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.spcID, "Specialty", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.DropDownList("spcID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <a href="@Url.Action("AddSpecialty", "AdminDashboard")" class="btn btn-primary btn-sm" id="specButton" onclick="showDiv()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Specialty</a>
                    </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.volFirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.volFirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "John" } })
                                @Html.ValidationMessageFor(model => model.volFirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.volLastName, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.volLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Doe" } })
                                @Html.ValidationMessageFor(model => model.volLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.volMiddleName, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.volMiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.volMiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.volDOB, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.volDOB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.volDOB, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.volEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.volEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "example@mail.com" } })
                                @Html.ValidationMessageFor(model => model.volEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.volPhone, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.volPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "(777)777-7777" } })
                                @Html.ValidationMessageFor(model => model.volPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.volStreet1, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.volStreet1, new { htmlAttributes = new { @class = "form-control", placeholder = "777 Main Street" } })
                            @Html.ValidationMessageFor(model => model.volStreet1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.volStreet2, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.volStreet2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.volStreet2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.volCity, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.volCity, new { htmlAttributes = new { @class = "form-control", placeholder = "Jacksonville" } })
                            @Html.ValidationMessageFor(model => model.volCity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.volState, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.volState, new { htmlAttributes = new { @class = "form-control", placeholder = "FL" } })
                            @Html.ValidationMessageFor(model => model.volState, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.volZip, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.volZip, new { htmlAttributes = new { @class = "form-control", placeholder = "77777" } })
                            @Html.ValidationMessageFor(model => model.volZip, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.volStartDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.volStartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.volStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   
                   
                </div>
                @*<div id="addSpec" class="col-md-5" style="display: none">
                    @{Html.RenderAction("AddSpecialty"); }
                </div>*@
                
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8">
                        <a href="@Url.Action("Index", "AdminDashboard")" class="btn btn-info">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-success" />
                     
                    </div>
            </div>
        </div>
</div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
