@model TheWayFreeClinicVMS.Models.Volunteer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Econtact.ecFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Econtact.ecFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.License.volID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.License.volID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty.spcName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty.spcName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volStreet1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volStreet1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volStreet2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volStreet2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
