@model TheWayFreeClinicVMS.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        
       
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volLastName), @Html.DisplayFor(model => model.volFirstName) @Html.DisplayFor(model => model.volMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty.spcName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty.spcName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volPhone)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volStreet1) @Html.DisplayFor(model => model.volStreet2)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.volCity), @Html.DisplayFor(model => model.volState) @Html.DisplayFor(model => model.volZip)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.volStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volActive)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.volID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
