@model TheWayFreeClinicVMS.Models.Volunteer

@{
    ViewBag.Title = "Details";
}

<div class="container">

<h3>Volunteer Details</h3>

<div>
    <hr />
    <div class="row well">
    <div class="col-md-2">
        <img src="~/Content/img/ProfilePlaceholder.png" alt="volunteer placeholder" width="190" />
    </div>
    <div class="col-md-5">
    <dl class="dl-horizontal">
        
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volLastName), @Html.DisplayFor(model => model.volFirstName) @Html.DisplayFor(model => model.volMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty.spcName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty.spcName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volPhone)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volStreet1) @Html.DisplayFor(model => model.volStreet2)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.volCity), @Html.DisplayFor(model => model.volState) @Html.DisplayFor(model => model.volZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volActive)
        </dd>
        
    </dl>
          
     </div>
     <div class="col-md-5">
         <h4 class="text-center" style="color: #4CAF50;"><strong>Available for Volunteering</strong></h4>
         @{Html.RenderAction("VolunteerAvailable", new { id = Model.volID }); }
     </div>
</div>
</div>
    <div class="row">
        <div class="col-md-5">
            <h4 class="text-center" style="color: #4CAF50;"><strong>Timesheet</strong></h4>
            @{Html.RenderAction("VolunteerTimesheet", new { id = Model.volID }); }
        </div>
    </div>
    <hr />
<p>
    <a href="@Url.Action("Index", "AdminDashboard")" class="btn btn-info">Back to List</a>
    <a href="@Url.Action("Edit", "AdminDashboard",new { id = Model.volID })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
   
</p>
</div>
