@model IEnumerable<TheWayFreeClinicVMS.Models.Volunteer>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="col-md-12">
        <h2>Manage Volunteers</h2>
        <div>
        <form>
            <a href="@Url.Action("Create", "AdminDashboard")" class="btn btn-primary"> Add Volunteer</a>
        </form>
            <p></p>
        </div>
        <div>
            <table class="table table-condensed table-hover table-striped table">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.volFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volLastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Specialty.spcName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volActive)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.volFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialty.spcName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.volID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.volID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.volID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
