@model System.Collections.Generic.IEnumerable<TheWayFreeClinicVMS.Models.Volunteer>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="col-md-12">
        <h2 style="text-align:center;">View Volunteers</h2>
        <hr />
        <div style="text-align:center;">
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Quick Filter</a>
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Quick Filter</a>
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Quick Filter</a>
            <br />
            <hr />
        </div>
        <p></p>
        <div class="form-group">
            @using (Html.BeginForm())
            {
                <p>
                    Find by name: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                    Specialty: @Html.DropDownList("specialtySearch", "All") 
                    <input type="submit" value="Filter" />
                    <br />
               </p>            
            }
            
        </div>
        <div>
            <p></p>
            <table class="table table-condensed table-hover table-striped table">
                <tr>
                                       
                    <th>
                       @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Specialty.spcName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.volPhone)
                    </th>
                    <th>
                       @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                        <span class="glyphicon glyphicon-sort-by-attributes"  aria-hidden="true"></span>

                    </th>
                    <th>
                        @Html.ActionLink("Active", "Index", new { sortOrder = ViewBag.ActiveSortParm })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>                                           
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.volLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialty.spcName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.volActive)
                        </td>
                        <td>
                           
                        </td>
                        <td>
                            @*Buttons for CRUD*@
                           
                            <a href="@Url.Action("Details", "AdminDashboard",new { id = item.volID })" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Details</a>
                            <a href="@Url.Action("Edit", "AdminDashboard",new { id = item.volID })" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                            <!-- <a href="@Url.Action("Delete", "AdminDashboard",new { id = item.volID })" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a> -->
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
