@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Report</h2>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<div class="container">
    <div class="col-md-12">
        <div>
            <div class="form-group">
                @using (Html.BeginForm())
            {
                    <div>
                        Specialty: @Html.DropDownList("specialtySearch", "All")

                        <div id="reportrange" class="" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width:30%; float:right;">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span id="dateRange"></span> <b class="caret"></b>
                        </div>
                        <input name="hiddenDateRange" type="hidden" id="hiddenDateRange" value="" />
                        <input id="submit" type="submit" value="Filter" />
                    </div>

                }
            </div>
            @ViewBag.dateRange

            <table class="table table-condensed table-hover table-striped table">
                <tr>
                    <th>
                        @Html.ActionLink("Last Name", "Report", new { sortOrder = ViewBag.NameSortParm })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Specialty
                    </th>
                    <th>
                        @Html.ActionLink("Active", "Report", new { sortOrder = ViewBag.ActiveSortParm })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        @Html.ActionLink("Accumulated Hours", "Report", new { sortOrder = ViewBag.HoursSortParam })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>

                    <th></th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>

                        <td>
                            @item.volunteer.volLastName
                        </td>
                        <td>
                            @item.volunteer.volFirstName
                        </td>
                        <td>
                            @item.volunteer.Specialty.spcName
                        </td>
                        <td>
                            @item.volunteer.volActive
                        </td>
                        <td>
                            @item.volunteer.volEmail
                        </td>
                        <td>
                            @item.hours
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>


<script type="text/javascript">

    $('#submit').click(function () {
        var range = $('#dateRange').html();
        $('#hiddenDateRange').attr("value", range);
        alert(range);
    })
   
    $(function () {

        

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        cb(moment(), moment());

        $('#reportrange').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Year to Date': [moment().startOf('year'), moment()]
            }
        }, cb);


    });
</script>