@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Report</h2>


<div class="container">
    <div class="col-md-12">
        <div>
            <div class="form-group">
                @using (Html.BeginForm())
            {
                    <p>
                        @*Availability: @Html.DropDownList("availSearch", "All")*@
                        @*License: @Html.DropDownList("licenseSearch", "All")*@
                        Specialty: @Html.DropDownList("specialtySearch", "All")
                        <input type="submit" value="Filter" />
                        <br />                                               
                    </p>

                }
            </div>
            <table class="table table-condensed table-hover table-striped table">
                <tr>
                    <th>
                        @Html.ActionLink("Last Name", "Report", new { sortOrder = ViewBag.NameSortParm })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Specialty
                    </th>
                    <th>
                        @Html.ActionLink("Active", "Report", new { sortOrder = ViewBag.ActiveSortParm })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>
                    <th>
                        Email
                    </th>                    
                    <th>
                        @Html.ActionLink("Accumulated Hours", "Report", new { sortOrder = ViewBag.HoursSortParam })
                        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    </th>

                    <th></th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>

                        <td>
                            @item.volunteer.volLastName
                        </td>
                        <td>
                            @item.volunteer.volFirstName
                        </td>
                        <td>
                            @item.volunteer.Specialty.spcName
                        </td>
                        <td>
                            @item.volunteer.volActive
                        </td>
                        <td>
                            @item.volunteer.volEmail
                        </td>
                        <td>
                            @item.hours
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </table>
            
        </div>
    </div>
</div>