@model TheWayFreeClinicVMS.Models.Worktime

@{
    ViewBag.Title = "UpdateTimesheet";
}

<h2>Update Log</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Worktime</h4>
                <hr />
                <h5 style="color:red;">@ViewBag.updateTimesheetError</h5>
                <h4 style="color:#ff6a00;">@ViewBag.recordConflict</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.wrkID)
                @Html.HiddenFor(model => model.volID)

                <div class="form-group">
                    @Html.LabelFor(model => model.wrkDate, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.wrkDate, new { htmlAttributes = new { @class = "form-control datepicker", @Value = ViewBag.date } })
                        @Html.ValidationMessageFor(model => model.wrkDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.wrkStartTime, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.wrkStartTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.wrkStartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.wrkEndTime, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.wrkEndTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.wrkEndTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>

        <div class="col-md-7">
            <h4 class="text-center" style="color: #337ab7;"><strong>Timesheet</strong></h4>
            @{Html.RenderAction("VolunteerTimesheet", new { id = Model.volID }); }
        </div>
    </div>
</div>

<div>
    <a href="@Url.Action("Details", "AdminDashboard",new { id = Model.volID })" class="btn btn-info btn-sm">Back to Details</a>            
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
